{{/* templatetree:extends base-details.html.tmpl */}}

{{define "top"}}
  <header class="w-full tripart p-4 bg-white shadow-sm z-10 relative">
    <a href="{{.PolicyURL}}" title="View the policy definition on GitHub"
       class="px-2 py-1 text-xs text-dark-gray3 bg-light-gray3 border border-light-gray2 rounded-sm truncate max-w-full hover:bg-light-gray2 no-underline hover:no-underline">
      {{.PullRequest.GetBase.GetRepo.GetFullName}}: {{.PullRequest.GetBase.GetRef}}
    </a>
    <h1 class="text-xl font-normal tracking-tight text-center">
      <a href="{{.PullRequest.GetHTMLURL}}" title="View the pull request on GitHub" class="text-blue3 hover:text-blue4 no-underline">
        #{{.PullRequest.GetNumber}}</a>:
      {{.PullRequest.GetTitle}}
    </h1>
    <span class="text-xs text-dark-gray3 truncate max-w-full">
      {{.User}}
    </span>
  </header>
{{end}}

{{define "footer"}}
  <footer class="bg-white shadow-sm w-full z-10">
    <button id="details-to-simulate" class="bg-blue3 hover:bg-blue5 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Simulate changes on this PR</button>
  </footer>
{{end}}