<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{block "title" .}}PolicyBot{{end}}</title>

    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body class="{{block "body-class" .}}bg-light-gray5 text-dark-gray1{{end}}">
    {{block "body" .}}{{end}}
  </body>
</html>
